@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

:root {
    --cor1: #ebe5e5;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'android';
}

body {
    background-color: rgb(179, 159, 135);
}

.cabeçalho {
    min-height: 200px;
    background-image: linear-gradient(var(--cor3), var(--cor5));
    text-align: center;
    font-size: 1em;
    color: white;
}

.titulo-cabeçalho {
    font-size: 2.9em;
    font-family: var(--fonte-destaque);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 27px;
    padding-bottom: 13px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%)
}

.paragrafo-cabeçalho {
    font-size: 1.3em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    font-weight: 530;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%)
}

.navegaçao-menu {
    background-color: var(--cor5);
    padding: 15px;
    font-weight: bold;
    color: white;
}

a:visited {
    color: var(--cor3);
}

.item-menu {
    padding: 10px;
}

.item-menu:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: 0.5s;
}


.conteudo {
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
    box-shadow: 0px 1px 2px 2px #0000006c;
    margin-bottom: 12px;
}

.titulo-conteudo {
    font-family: var(--fonte-android);
    color: black;
    padding-top: 10px;
    text-align: center;
}

.subtitulo-conteudo {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor2), white);
    color: var(--cor5);
    padding-left: 3px;
    padding-right: 3px;
    max-height: 60px;
    font-size: 18px;
}

.paragrafo-conteudo {
    padding-top: 8px;
    padding-bottom: 8px;
    text-indent: 20px;
}

.div-video-youtube {
    background-color: var(--cor5);
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

.div-video-youtube>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.conteudo-extra {
    text-align: justify;
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 8px;
    text-indent: 20px;
}


.titulo-conteudo-extra {
    background-color: var(--cor5);
    margin: -10px -10px 0px -10px;
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    color: white;
}

.paragrafo-conteudo-extra {
    padding: 12px 0px;
}

.lista-conteudo-extra {
    list-style-position: inside;
    columns: 2;
    list-style: none;
    text-align: justify;
}

.rodape {
    text-align: center;
    background-color: #1B5936;
    padding: 2px;
    color: white;
    letter-spacing: 2px;
    font-size: small;
    font-weight: 600;
    line-height: 18px;
}


img {
    width: 100%;

}

.foto-bugdroid {
    width: auto;
    margin: auto;
    display: block;
}

.link-externo {
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 1px 5px;
}

.link-externo:hover {
    text-decoration: underline;
    background-color: var(--cor3);
    transition: all 1s;
}

.link-externo::after {
    content: '🔗';
}

.link-externo:visited {
    color: var(--cor5);
}

strong {
    color: var(--cor4);
}

html{
    scroll-behavior: smooth;
}